services:
  my-app:
    build:
      context: ./my-app
      dockerfile: Dockerfile
      target: builder
    ports:
      - "18788:8080"
    command: npm run dev
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud:ro
      - ./my-app:/app
      - /app/node_modules
    env_file:
      - .env.local
