services:
  stox-app:
    build:
      context: .
      dockerfile: ./stox-app/Dockerfile
      target: builder
    ports:
      - "18787:3000"
    command: pnpm run dev
    env_file:
      - .env.local
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_NAME=mydatabase
      - PGSSLMODE=disable
    volumes:
      - ./stox-app:/app
      - ./drizzle:/app/drizzle
    depends_on:
      - db

  admin-app:
    build:
      context: .
      dockerfile: admin-app/Dockerfile
      target: builder # 開発時はbuilderステージまでを利用
    ports:
      - "18788:3000"
    command: sh -c "npm install && npm run dev"
    env_file:
      - .env.local
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_NAME=mydatabase
      - PGSSLMODE=disable
    volumes:
      - ./admin-app:/app
      - /app/.next
      - ./drizzle:/app/drizzle
    depends_on:
      - db

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
