services:
  stox-app:
    build:
      context: .
      dockerfile: ./stox-app/Dockerfile
      target: builder
    ports:
      - "18787:8080"
    working_dir: /app
    command: sh -c "pnpm --filter stox-app dev"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@db:5432/mydatabase?sslmode=disable
    volumes:
      - .:/app
      - /app/node_modules
      - /app/stox-app/node_modules
      - /app/drizzle/node_modules
    depends_on:
      - db

  admin-app:
    build:
      context: .
      dockerfile: admin-app/Dockerfile
      target: builder # 開発時はbuilderステージまでを利用
      args:
        - NEXT_PUBLIC_FIREBASE_API_KEY=${NEXT_PUBLIC_FIREBASE_API_KEY}
        - NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=${NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN}
        - NEXT_PUBLIC_FIREBASE_PROJECT_ID=${NEXT_PUBLIC_FIREBASE_PROJECT_ID}
        - NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=${NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET}
        - NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=${NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID}
        - NEXT_PUBLIC_FIREBASE_APP_ID=${NEXT_PUBLIC_FIREBASE_APP_ID}
    ports:
      - "18788:8080"
    working_dir: /app
    command: pnpm --filter admin-app dev
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@db:5432/mydatabase?sslmode=disable
    volumes:
      - .:/app
      - /app/node_modules
      - /app/admin-app/node_modules
      - /app/drizzle/node_modules
    depends_on:
      - db

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
